@font-face {
  font-family: "RobotoMono";
  src: url('./fonts/RobotoMono-Thin.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: "RobotoMono", sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(224, 234, 252), rgb(207, 222, 243));
}

h1{
  text-align: center;
}
